body {
  margin: 0px;
}
<<<<<<< HEAD
#loginSignup {
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: white;
  /* border: 2px black; */
  border-radius: 5px;
  padding: 25px;
}

.linkButton {
  color: blueviolet;
  text-decoration: underline;
}

.linkButton:hover {
  color: blue;
}

#logo {
  font-size: xx-large;
}

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 15px;
}
=======
>>>>>>> 78571be1f8a57559945da378ba35b1476a7f5caf
