.homeCardContents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeCardRating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bikePetFriendlyRating {
  display: flex;
  justify-content: center;
  align-items: center;
}
