@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

#footer {
  height: 40px;
  background-color: #333;
  color: rgba(255, 255, 255, 0.514);
  font-size: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* homeCard.jsx */

.homeCardContents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeCardRating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bikePetFriendlyRating {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* homeCards.jsx */

.homeCardsWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeCards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.homeCardsUserFeedbackWrapper,
.homeCardsUserFeedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeCardsUserFeedback {
  margin-bottom: 25px;
}

.feedbackUser {
  color: white;
  font-family: "Nunito", sans-serif;
}

.feedbackDesc {
  font-style: italic;
  font-size: 1.5em;
  color: red;
  box-shadow: 0.5em;
}

/* Login.jsx */
.linkButton {
  color: blueviolet;
  text-decoration: underline;
}

.linkButton:hover {
  color: blue;
}

/* Navbar.jsx */
#logo {
  font-size: xx-large;
  font-family: "Nunito", sans-serif;
  /* font-style: bold; */
  color: rgb(237, 232, 251);
  font-weight: 700;
}

#navBar {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #333; 
  align-items: center;
}

.navBarLeft {
  flex: 1;
  display: flex;
  padding-left: 25px;
  align-items: center;
}

.navBarCenter {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarListItems {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

.navBarListItem {
  list-style: none;
  font-family: "Nunito", sans-serif;
  padding: 0 20px;
}

.navBarRight {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
}

a:hover {
  color: white;
}
a {
  font-family: "Nunito";
  text-decoration: none;
  padding-right: 10px;
  list-style: none;
  color: rgb(237, 232, 251);
}

/* Signup.jsx */

#roleOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75%;
  padding: 30px;
}

#tenantButton {
  padding-left: 15px;
  padding-right: 15px;
}

#compRoleGroup {
  margin-bottom: 10px;
}

#individualButton {
  padding-left: 15px;
  padding-right: 15px;
}

/* address card */
#bedsBaths {
  display: flex;
  flex-direction: row;
}

#addressPic {
  display: flex;
  position: relative;
}

#reviewInfo {
  display: flex;
}

#addressCard{
  font-family: 'Inter', sans-serif;
  margin: 10px;
}